/* Fonts */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwOIpWqZPANqczVs.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway"), local("Raleway-Regular"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPANqczVs.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 252, 250);
  color: rgba(0, 0, 0, 0.815);
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
}

p {
  color: rgba(0, 0, 0, 0.651);
}

/* Title */
h1 {
  color: rgba(16, 51, 49, 0.897);
  background: linear-gradient(
    110deg,
    rgba(38, 114, 110, 0.664) 20%,
    rgb(245, 252, 250) 35%
  );
  background-color: rgb(253, 250, 252);
  padding: 3px;
  border-radius: 7px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.title {
  background: linear-gradient(
    110deg,
    rgba(38, 114, 110, 0.664) 60%,
    rgb(245, 252, 250) 60%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: solid 3px rgb(237, 243, 243);
}

.title--header {
  text-align: left;
}

.title--user {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title--user--item {
  margin: 5px;
}

#nav-avatar {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 10px;
}
/* NavBar */

.nav-bar {
  background-color: rgba(76, 192, 167, 0.459);
}

.nav-bar-title {
  text-align: center;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

.nav-bar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0px;
  list-style: none;
}

/* Sort Bar */

.sort-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  padding-top: 8px;
}

.sort-button {
  background-color: rgba(165, 235, 218, 0.39);
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway";
  font-size: 12px;
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 7px;
  border: solid 1px rgba(92, 165, 147, 0.527);
  place-self: center;
}

/* ArticleList */

.app-body {
  padding: 1em;
  padding-top: 0.25em;
  max-width: 1000px;
}

.article-list {
  list-style: none;
  padding-inline-start: 0px;
}

/* Article Card */
.article-card {
  display: grid;
  grid-template-columns: auto 120px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "articleCardTitle articleCardVotes"
    "articleCardInfo articleCardComments";
  border-top: 2px rgba(57, 151, 128, 0.575) solid;
}

.article-card-title {
  grid-area: articleCardTitle;
}

.article-card-votes {
  grid-area: articleCardVotes;
}

.article-card-info {
  grid-area: articleCardInfo;
}

.article-card-comments {
  grid-area: articleCardComments;
}

/* Votes */

.votes {
  display: flex;
  flex-direction: row;
}

.vote-text {
  color: rgba(0, 0, 0, 0.527);
}

.vote-button {
  color: rgba(41, 179, 179, 0.76);
  border: solid rgba(41, 179, 179, 0.315) 1px;
  border-radius: 15px;
  height: 20px;
  place-self: center;
}

.vote-button:disabled,
.vote-button--disabled {
  color: rgba(155, 155, 155, 0.589);
  border: solid rgba(0, 0, 0, 0.24) 1px;
  border-radius: 15px;
  height: 20px;
  place-self: center;
}

/* Comments */
.comment-list {
  list-style: none;
  padding-inline-start: 0px;
}

.comment-card {
  border-top: 2px rgba(57, 151, 128, 0.575) solid;
  max-width: 800px;
}
.comment-card-interact {
  display: flex;
  flex-direction: row;
}

#comment-box {
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  min-width: 290px;
}

.comment-section-button {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway";
  font-size: 12px;
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 7px;
  border: solid 1px rgba(92, 165, 147, 0.527);
  place-self: center;
  margin: 4px;
}

/* @media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
  }
} */
